body{
    margin:0;
    padding:0;

    width: 1280px;
    height: 720px;
    padding: 0;
    margin: 0;

    overflow: hidden;
}

#container{
    position: relative;

    width: 1280px;
    height: 720px;
    padding: 0;
    margin: 0;

    overflow: hidden;

    /*border: 1px solid #fff;*/
}

/* home */
.home{
    padding: 5px 30px;
}

.vList{
    width: 560px;
    overflow: hidden;
}
.vList li{
    font-size: 25px;
    margin: 10px 0;
}
.vList li.active{
    font-size: 33px;
    color: #d3d3d3;
}

#categoriesWidget{
    float: left;
}
#latest{
    float: right;
    width: 650px;
}


/* tiles */
.tiles{
    width: 1280px;
    overflow: hidden;
}
    .tiles__wrapper{
        width: 1500px;
        overflow: hidden;
    }
    .tiles .tile{
        height: 192px;
        width: 206px;

        text-align: center;

        background: #333333;

    }
    .tiles .tile .opacity{
        opacity: 0.65;
        background: #000;
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        display: none;
    }
    .tiles .tile.pseudo-hover .opacity{
        display: block;
    }
    .tiles .tile .tile-debug{
        position: absolute;
        top: 0;
        right:0;
        font-size: 24px;
        padding: 5px;
    }
    .tiles .tile .btm{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #333333;
        padding: 10px 0;
    }
    .tiles .tile .title{
        padding: 0 10px;
        font-size: 20px;
        line-height: 1.2;
        text-align: left;

        height: 24px;
        overflow: hidden;
    }
    .tiles .tile.pseudo-hover .title{
        height: auto;
    }
    .tiles .tile.pseudo-hover {
        outline: 5px #225a68 solid;

    }
    .tiles .tile .img{
        /*margin: 20px 0 0 0;*/
    }
    .tiles .tile .year{
        position: absolute;
        top:0;
        right: 0;
        background: #333333;
        font-size: 16px;
        padding: 8px;
        display: none;
    }
    .tiles .tile.pseudo-hover .year{
        display: block;
    }

    .tiles .tile .title_small{
        position: absolute;
        bottom:0;
        left:0;
        padding: 5px;
        font-size: 16px;
        display: none;
        text-align: left;
    }
    .tiles .tile.pseudo-hover .title_small{
        display: block;
    }

/* banners */
.banner{
    background: gray;
}
.tiles .banner_vertical{
    width: 160px;
    height: 595px;
}
.banner_horisontal_full{
    width: 1280px;
    height: 115px;
}
.tiles .banner_horisontal_half{
    width: 640px;
    height: 115px;
}

#bottomBanner{
    position: absolute;
    left: 0;
    bottom: 0;

    /*border:1px solid yellow;*/
}

/* header */
.header{
    position: relative;
    padding: 15px 20px 10px;
    margin-bottom: 5px;
}
    .header__back{

    }
    .header__logo{
        float: right;
    }
    .header__logo img{
        width: 50px;
    }
    .header__title{

    }

/* slides */
.slide{
    background: #000;
    text-align: center;
 }
.slide img{

}

/* debug */
#debug{
    position: absolute;
    left:0;
    bottom: 0;
    color: #fff;
    z-index: 9999;
    font-size: 16px;
    padding: 5px;
}

/* splash */
.splash{
    text-align: center;
    padding-top: 200px;
}
    .splash__img{

    }
        .splash__img img{
            height: 200px;
        }
    .splash__title{
        margin: 10px;
        font-size: 40px;
    }
    .splash__slogan{
        font-size: 25px;
        margin: 20px 0 0 0;
    }
    .splash__loader{
        margin: 20px 0 0 0;
    }

    .splash__info{
        position: absolute;
        bottom: 5px;
        right: 12px;

        font-size: 16px;
        text-align: right;

    }
        .splash__info p{
            margin-bottom: 3px;
        }
    
/* loader */
.loader{
    position: absolute;
    top:45%;
    left:45%;

    text-align: center;

    background: #1D1D1D;

    border-radius: 20px;
    padding: 30px;
}

.opacityAll{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: #000;

    opacity: 0.65;
}