<?xml version="1.0" encoding="UTF-8"?>
<widget>
	<ThumbIcon itemtype="string">images/icon_106.png</ThumbIcon>
	<BigThumbIcon itemtype="string">images/icon_115.png</BigThumbIcon>
	<ListIcon itemtype="string">images/icon_85.png</ListIcon>
	<BigListIcon itemtype="string">images/icon_95.png</BigListIcon>
	<category itemtype="string">education</category>
	<type itemtype="string">user</type>
	<cpname itemtype="string"></cpname>
	<cpauthjs itemtype="string"></cpauthjs>
	<ver itemtype="string">1.2</ver>
	<mgver itemtype="string"></mgver>
	<fullwidget itemtype="boolean">y</fullwidget>
	<srcctl itemtype="boolean">y</srcctl>
	<ticker itemtype="boolean">n</ticker>
	<childlock itemtype="boolean">n</childlock>
	<audiomute itemtype="boolean">n</audiomute>
	<videomute itemtype="boolean">n</videomute>
	<dcont itemtype="string">y</dcont>
	<widgetname itemtype="string">Фильмоскоп</widgetname>
	<description itemtype="string"></description>
	<width itemtype="number">1280</width>
	<height itemtype="number">720</height>
	<author itemtype="group">
		<name itemtype="string">Dmitry Ryumin</name>
		<email itemtype="string">dmitry.glassoff@gmail.com</email>
		<link itemtype="string">http://diafilmy.su</link>
		<organization itemtype="string">diafilmy.su</organization>
	</author>
</widget>
