<div class="header">
    <div class="header__logo"><img src="images/logo.png"/></div>
    <div class="header__title"><h1><%= category.get('title') %></h1></div>
</div>
<div style="clear:both;"></div>

<div id="diafilmsWidget"></div>
<div id="bottomBanner" class="banner banner_horisontal_full"><!-- --></div>
<div id="helpBar" class="helpbar">
    <div class="helpbar__item">
        <img src="images/navigation_help/white/help_move.png"/>
        <span>Двигать курсор</span>
    </div>
    <div class="helpbar__item">
        <img src="images/navigation_help/white/help_enter.png"/>
        <span>Выбор</span>
    </div>
    <div class="helpbar__item">
        <img src="images/navigation_help/white/help_back.png"/>
        <span>Возврат</span>
    </div>
</div>

<div id="loaderWidget"><!-- --></div>