<div class="header">
    <!--div class="header__back">
        <div class="win-backbutton"></div>
    </div-->
    <div class="header__logo"><img src="images/logo.png"/></div>
    <div class="header__title"><h1><%= category.get('title') %></h1></div>

</div>
<div style="clear:both;"></div>

<div id="diafilmsWidget"></div>
<div id="bottomBanner" class="banner banner_horisontal_full"><!-- --></div>

<div id="loaderWidget"><!-- --></div>