<div id="slides"></div>
<div id="helpBar" class="helpbar">
    <div class="helpbar__item">
        <img src="images/navigation_help/white/help_ud.png"/>
        <span>Следующий/предыдущий слайд</span>
    </div>
    <div class="helpbar__item">
        <img src="images/navigation_help/white/help_enter.png"/>
        <span>Следующий слайд</span>
    </div>
    <div class="helpbar__item">
        <img src="images/navigation_help/white/help_back.png"/>
        <span>Возврат</span>
    </div>
</div>
<div id="loaderWidget"><!-- --></div>

<div id="popupWidget"><!-- --></div>