<div class="splash">
    <div class="splash__img">
        <img src="images/logo.png"/>
    </div>
    <div class="splash__title">Фильмоскоп</div>
    <div class="splash__slogan">Просмотр любимых диафильмов</div>
    <div class="splash__loader"><img src="images/ajax-loader.gif"/></div>
</div>